<div class="container">
    <h1>Log in</h1>

    <%= form_tag sessions_path do %>
    <p>
        <%= label_tag :email %><br />
        <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
        <%= label_tag :password %><br />
        <%= password_field_tag :password %><br />

    </p>
    <p class="button"><%= submit_tag "Log in", class: "btn btn-primary" %></p>
    <% end %>
    <%= link_to "(forgot password)", new_password_reset_path %>
</div>
