<div class="container">
  <h1>Forgot password</h1>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <div class="row">
          <div class="col-md-2">
            <%= f.label :email %>
          </div>
          <div class="col-md-10">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div><br>
        <div class="row">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>