<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' %><br><br>
      <%= form.label :password, "Confirmation" %>
      <%= form.password_field :password, class: 'form-control' %><br><br>
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
