<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table id="users" class="table" style="width: 100%;" data-source="<%= users_url(format: "json") %>">
          <thead>
              <tr>
                  <th>Email</th>
                  <th>Created At</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>