<div class="container">
    <h1> Hello Rails! </h1>
    <p> Welcome to the Rails 6 template! If you can see a wonderful datatable below then Bootstrap, Jquery, & Datatables have been installed! </p>
    <div class="row">
        <div class="col-md-6">Bootstrap</div>
        <div class="col-md-6">Has Been Loaded</div>
    </div>
    <br>
   <table id="users" class="table" style="width: 100%;" data-source="<%= users_url(format: "json") %>">
        <thead>
            <tr>
                <th>Email</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>